//
// Abstracts :: Variables
// --------------------------------------------------

// Alerts
$alert-danger-background: #ffcccc;
$alert-danger-color: #9e0000;

// Header
$header-border-color: #eaeaea;

// Subheader
$subheader-background: #eaeaea;
$subheader-border-color: #dedede;

// Tables
$table-border-color: #cccccc;
$table-text-color: #010101;
$table-bg-color-thead: #535353;