//
// Components :: Buttons
// --------------------------------------------------

.btn-primary {
  background-color: $brand-primary;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 26px;
  font-weight: $font-weight-bold;
  font-family: $font-family-primary;
  transition: background-color .3s;

  &:hover,
  &:focus {
    background-color: $darker-primary;
  }
}

.btn-border {
  text-transform: none;
  border: 1px solid #cccccc;
  padding: 3px 12px !important;
  display: block;
  font-size: 14px;
  color: #333333 !important;
  border-radius: 3px;
  font-weight: $font-weight-medium;
  font-family: $font-family-primary;
}

.btn-uppercase {
  text-transform: uppercase;
  font-weight: $font-weight-medium;
}

.btn-medium {
  font-size: 18px;
  padding: 12px 26px;
}

.btn-default {
  background-color: #adadad;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background-color .3s;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff !important;
    background-color: darken(#adadad, 10%);
  }
}