{% extends "base.html" %}
{% block content %}
<div class="row clearfix">

<div class="row">
  <div class="col-md-10 col-md-offset-1">
      <h1>All Teams</h1>
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Number of members</th>
          </tr>
        </thead>
        <tbody>
          {% for team in teams if team.members.count() %}
          <tr>
            <td><a href="{{ url_for('team.show_team', team_id=team.id)}}">{{ team.name }}</td>
            <td>{{ team.description }}</td>
            <td>{{ team.members.count() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
