<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Framgia CTF</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Framgia CodeContest Team">
    <link rel="shortcut icon" href="../../static/favicon.ico" type="image/x-icon">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../static/css/site.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/css/style.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="base.html">
            <img src="../../static/img/logo.png" alt="Logo" width="103" height="83">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Activities</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Scoreboard</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <div class="navbar-right">
            <!-- Box profile for desktop -->
            <div class="dropdown box-profile for-desktop">
              <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img class="avatar-image" src="../../static/img/avatar.jpg" alt="">
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Change Password</a></li>
                <li><a href="#">My Profile</a></li>
              </ul>
            </div> <!--/ End Box profile for desktop -->
          </div>
        </div>
      </div>
      <!-- Box profile for mobile -->
      <div class="dropdown box-profile for-mobile">
        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img class="avatar-image" src="../../static/img/avatar.jpg" alt="">
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Change Password</a></li>
          <li><a href="#">My Profile</a></li>
        </ul>
      </div> <!--/ End Box profile for mobile -->
    </nav> <!--/ End Navbar  -->

    <!-- Subheader -->
    <div class="sub-header">
      <div class="container">
        <h4 class="title">Team detail</h4>
        <div class="flex"></div>
        <ol class="breadcrumb">
          <li class="item"><a class="link" href="#">Home</a></li>
          <li class="item"><a class="link" href="#">Teams</a></li>
          <li class="item active">Team detail</li>
        </ol>
      </div>
    </div><!--/ End Subheader -->
    <!-- Team details main content -->
    <div class="main-container page-team-detail">
      <div class="container">

        <div class="team-intro">
          <div class="team-title">
            <h1>Shadow Demon</h1>
            <p>Nothing to fear</p>
          </div>
          <div class="team-details">
            <div class="row">
              <div class="team-reward col-md-6 col-xs-12">
                <ul>
                  <li><a href="#"><img src="../../static/img/medal.png" alt="">28th place</a></li>
                  <li><a href="#"><img src="../../static/img/start.png" alt="">360 points</a></li>
                </ul>
              </div>
              <div class="team-list col-md-6 col-xs-12">
                <ul>
                  <li>Members</li>
                  <li><a href="#"><img src="../../static/img/team-member-1.png" alt=""></a></li>
                  <li><a href="#"><img src="../../static/img/team-member-1.png" alt=""></a></li>
                  <li><a href="#"><img src="../../static/img/team-member-1.png" alt=""></a></li>
                  <li><a href="#"><img src="../../static/img/team-member-1.png" alt=""></a></li>
                  <li><a href="#"><img src="../../static/img/team-member-1.png" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="team-chart">
          <!-- Chart box -->
          <img src="../../static/img/chart.png" alt="">
        </div>

        <div class="team-achievements">
          <h3>Achievements</h3>
          <table class="table table-bordered table-customize table-responsive">
            <thead>
              <tr>
                <th>Task</th>
                <th>Category</th>
                <th>Point</th>
                <th>User</th>
                <th>Time</th>
              </tr>
            </thead>
              <tbody>
                <tr>
                <td data-title="Task"><a href="/task/138">The Very Beginning</a></td>
                <td data-title="Category">Logic Game</td>
                <td data-title="Point">10</td>
                <td data-title="User"><a href="/user/profile/55"><img src="http://www.gravatar.com/avatar/c4f70b92d051f8323e18b24030f0d045?d=mm&s=24" alt="KhanhLD" title="KhanhLD"/></img>&nbsp;<span class="text-danger">KhanhLD</span></a></td>
                <td data-title="Time">2016-06-18 10:22:45</td>
              </tr>

              <tr>
                <td data-title="Task"><a href="/task/100">The Dead Clock</a></td>
                <td data-title="Category">Logic Game</td>
                <td data-title="Point">20</td>
                <td data-title="User"><a href="/user/profile/2"><img src="http://www.gravatar.com/avatar/90b36c196a46f35da8c4fd1244cf15fd?d=mm&s=24" alt="bs90" title="bs90"/></img>&nbsp;<span class="text-danger">bs90</span></a></td>
                <td data-title="Time">2016-06-18 11:12:44</td>
              </tr>

              <tr>
                <td data-title="Task"><a href="/task/101">The Fotation</a></td>
                <td data-title="Category">Logic Game</td>
                <td data-title="Point">20</td>
                <td data-title="User"><a href="/user/profile/2"><img src="http://www.gravatar.com/avatar/90b36c196a46f35da8c4fd1244cf15fd?d=mm&s=24" alt="bs90" title="bs90"/></img>&nbsp;<span class="text-danger">bs90</span></a></td>
                <td data-title="Time">2016-06-18 11:13:11</td>
              </tr>

              <tr>
                <td data-title="Task"><a href="/task/107">Hello world!</a></td>
                <td data-title="Category">Logic Game</td>
                <td data-title="Point">10</td>
                <td data-title="User"><a href="/user/profile/2"><img src="http://www.gravatar.com/avatar/90b36c196a46f35da8c4fd1244cf15fd?d=mm&s=24" alt="bs90" title="bs90"/></img>&nbsp;<span class="text-danger">bs90</span></a></td>
                <td data-title="Time">2016-06-18 18:10:32</td>
              </tr>

              <tr>
                <td data-title="Task"><a href="/task/137">Picking CEO</a></td>
                <td data-title="Category">Logic Game</td>
                <td data-title="Point">5</td>
                <td data-title="User"><a href="/user/profile/2"><img src="http://www.gravatar.com/avatar/90b36c196a46f35da8c4fd1244cf15fd?d=mm&s=24" alt="bs90" title="bs90"/></img>&nbsp;<span class="text-danger">bs90</span></a></td>
                <td data-title="Time">2016-06-20 10:30:03</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <div class="main-footer">
        <div class="container">
          <p class="copyright">&copy; 2016 Framgia Vietnam. All rights reserved.</p>
          <div class="flex"></div>
          <div class="follow-social">
            <p class="title">Follow Life at Framgia on</p>
            <div class="social-icon">
              <a class="fa fa-facebook-f" href="#"></a>
              <a class="fa fa-linkedin" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div> <!--/ End Footer -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="../../static/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/js/site.min.js"></script>
  </body>
</html>