{% extends "base.html" %}
{% block content %}
<!-- Subheader -->
    <div class="sub-header">
      <div class="container">
        <h4 class="title">Team detail</h4>
        <div class="flex"></div>
        <ol class="breadcrumb">
          <li class="item"><a class="link" href="{{ url_for('index') }}">Home</a></li>
          <li class="item"><a class="link" href="{{ url_for('team.all_team') }}">Teams</a></li>
          <li class="item active">Team detail</li>
        </ol>
      </div>
    </div><!--/ End Subheader -->
    <!-- Team details main content -->
    <div class="main-container page-team-detail">
      <div class="container">

        <div class="team-intro">
          <div class="team-title">
            <h1>{{ team.name }}</h1>
            <p>{{ team.description }}</p>
          </div>
          <div class="team-details">
            <div class="row">
              <div class="team-reward col-md-6 col-xs-12">
                <ul>
                  <li><a href="#"><img src="{{ url_for('static', filename="img/medal.png") }}" alt="">{{ team.get_place() }} place</a></li>
                  <li><a href="#"><img src="{{ url_for('static', filename="img/start.png") }}" alt="">{{ team.get_total_score() }} points</a></li>
                </ul>
              </div>
              <div class="team-list col-md-6 col-xs-12">
                <ul>
                  <li>Members</li>
                  {% for user in team.members %}
                  <li><a href="{{ url_for('user.profile', user_id=user.id) }}"><img src="{{ user.get_avatar_url(23) }}" alt="{{ user.name }}" title="{{ user.name }}"></a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="team-chart" style="min-height: 320px;">
          <!-- Chart box -->
          <div id="breakdown-graph" style="min-height: 280px; position: relative; float: left; width: 25%;"></div>
          <div id="category-graph" style="min-height: 280px; position: relative; float: left; width: 25%;"></div>
          <div id="score-graph" style="min-height: 280px; position: relative; float: left; width: 50%;"></div>
        </div>

        {% if g.user in team.members or g.user.is_admin() %}
        <div class="team-achievements">
          <h3>Info</h3>
            <p>Invite Code: {{ team.invite_code }}</p>
            <p><a class="btn btn-lg btn-primary" href="{{ url_for('team.edit_team', team_id=team.id) }}">Edit</a></p>
        </div>
        {% endif %}

        <div class="team-achievements">
          <h3>Achievements</h3>
          <table class="table table-bordered table-customize table-responsive">
            <thead>
              <tr>
                <th>Task</th>
                <th>Category</th>
                <th>Point</th>
                <th>User</th>
                <th>Time</th>
              </tr>
            </thead>
              <tbody>
              {% for achievement in achievements %}
                <tr>
                <td data-title="Task"><a href="{{ url_for('task.show_task', task_id=achievement.task.id)}}">{{ achievement.task.name }}</a></td>
                <td data-title="Category">{{ achievement.task.category.name }}</td>
                <td data-title="Point">{{ achievement.point }}</td>
                <td data-title="User">{{ achievement.user.get_profile_link()|safe }}</td>
                <td data-title="Time">{{ achievement.created_at }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      var categoryChart = c3.generate({
          bindto: '#category-graph',
          data: {
              columns: [
              {% for user, point in contributions.items() %}
                  ['{{ user.name }}', {{ point }}],
              {% endfor %}
              ],
              type : 'donut',
              colors: {
              {% for user, _ in contributions.items() %}
                  '{{ user.name }}': '{{ user.color_hash() }}',
              {% endfor %}
              },
          },
          donut: {
            title: "Members Contribution"
          },
          size: {
            width: 280,
            height: 280
          }
      });
      var breakdownChart = c3.generate({
          bindto: '#breakdown-graph',
          data: {
              columns: [
                  ['Solved', {{ team.solved_tasks()|length }}],
                  ['Remaining', {{ total_tasks - team.solved_tasks()|length }}],
              ],
              type : 'donut',
              colors: {
                  'Remaining': '#ff8a80',
                  'Solved': '#8cc152',
              }
          },
          donut: {
            title: "Solved vs Remaining"
          },
          size: {
            width: 280,
            height: 280
          }
      });
      var chart = c3.generate({
          bindto: '#score-graph',
          data: {
              x: 'x',
              xFormat: '%Y-%m-%d %H:%M:%S',
              columns: [
                  ['{{ team.name }}', {{ y_data }}],
                  ['x', {{ x_data|safe }} ]
              ],
              types: {
                  '{{ team.name }}': 'area-step',
              },
              colors: {
                  '{{ team.name }}': '{{ team.color_hash() }}',
              },
              labels: true
          },
          axis: {
              x: {
                  type: 'timeseries',
                  tick: {
                      format: '%m/%d %H:%M'
                  }
              },
              y: {
                  label: {
                      text: 'Score'
                  }
              }
          },
          zoom : {
            enabled: true
          },
          size: {
            width: 500,
            height: 280
          }
      });
    </script>
{% endblock %}
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
{% endblock %}
