flask==0.10.1
flask-login==0.2.11
flask-openid==1.2.1
flask-mail==0.9.0
sqlalchemy==0.9.8
flask-sqlalchemy==1.0
sqlalchemy-migrate==0.9.1
flask-whooshalchemy==0.55
flask-wtf==0.9.5
pytz==2014.4
flask-babel==0.9
flup==1.0.2
MySQL-python==1.2.5
WTForms-Alchemy==0.13.0
flask-admin==1.0.8
