{% extends "base.html" %}
{% block content %}
<!-- Banner -->
  <div class="banner">
    <div class="container">
      <div class="inner">
        <img class="text-img" src="{{ url_for('static', filename="img/codewar-text.png") }}" alt="">
        <p class="datetime">
          8:30 - 17:30
          <span class="seperator">/</span>
          13/11/2016
        </p>
        <p class="address">Framgia Vietnam, 13F Keangnam Landmark 72 Tower, Ha Noi</p>
        <button class="btn btn-primary btn-uppercase btn-medium" onclick="location.href='https://goo.gl/kbEUQE';">Join</button>
      </div>
    </div>
  </div> <!--.Banner -->

  <!-- Introduction -->
  <div class="introduction">
    <div class="container">
      <h2 class="heading-title">ABOUT</h2>
      <div class="content">
        <p>
          Are you ready to compete in the most fierce contest up-to-date?
        </p>
        <p>
          In 8 hours of stiffness and intensity, “Code War 2016” promises to bring you the marvellous opportunities to challenge yourself during three parts: Code Contest that includes using algorithm for problem-solving; Code Puzzle requires decision making and logical thinking skills, and ultimately: AI Tournament to compete head-to-head.
        </p>
        <p>
          Let’s join the journey of Code War 2016: “Mission in Coderland”!
        </p>
      </div>
    </div>
  </div> <!--/ End Introduction -->

<!-- Award -->
  <div class="award">
    <div class="container">
      <h2 class="heading-title">PRIZES</h2>
      <div class="content">
        <p>Amazing prizes are awaiting you at Coderland</p>
        <ul class="list">
          <li class="item top1">
            <div class="wrap-image">
              <img class="image" src="{{ url_for('static', filename='img/top-1.png') }}" alt="top 1" title="top 1">
            </div>
            <span class="main-text">Winner Team</span>
            <span class="sub-text">20,000,000 <sup>VND</sup></span>
          </li>
          <li class="item top2">
            <div class="wrap-image">
              <img class="image" src="{{ url_for('static', filename='img/top-2.png') }}" alt="top 2" title="top 2">
            </div>
            <span class="main-text">1st Runner up</span>
            <span class="sub-text">10,000,000 <sup>VND</sup></span>
          </li>
          <li class="item top3">
            <div class="wrap-image">
              <img class="image" src="{{ url_for('static', filename='img/top-3.png') }}" alt="top 3" title="top 3">
            </div>
            <span class="main-text">2nd Runner up</span>
            <span class="sub-text">5,000,000 <sup>VND</sup></span>
          </li>
        </ul>
        <p>and an</p>
        <p class="text-after-party">AFTER-PARTY</p>
        <p>with Framgia Vietnam !</p>
      </div>
    </div>
  </div> <!--/ End Award -->

  <!-- Rule -->
  <div class="rule">
    <div class="container">
      <h2 class="heading-title">TERMS & CONDITIONS</h2>
      <div class="detail">
        <p class="title">Rules</p>
        <div class="list">
          <div class="item">
            <h4 class="item-title">
              <i class="glyphicon glyphicon-menu-left"></i>
              Part 1
              <i class="glyphicon glyphicon-menu-right"></i>
            </h4>
            <div class="heading">
              <h4 class="main-heading">Code Puzzle</h4>
            </div>
            <div class="content">
              <p>Security knowledge</p>
              <p>Coding (PHP, Java, Ruby...): solve numerical mathematics questions using programming languages</p>
              <p>Google and problem-solving skills</p>
              <p>After answering each question successfully, your team will be given a special string, submit it to the system.</p>
            </div>
          </div>
          <div class="item">
            <h4 class="item-title">
              <i class="glyphicon glyphicon-menu-left"></i>
              Part 2
              <i class="glyphicon glyphicon-menu-right"></i>
            </h4>
            <div class="heading">
              <h4 class="main-heading">Code Contest</h4>
            </div>
            <div class="content">
              <p>Each team is required to write a program using a language of choice to solve the problem.</p>
              <p>Send your code to the system, run through the test cases, only correct answers will be accepted and scored.</p>
            </div>
          </div>
          <div class="item">
            <h4 class="item-title">
              <i class="glyphicon glyphicon-menu-left"></i>
              Part 3
              <i class="glyphicon glyphicon-menu-right"></i>
            </h4>
            <div class="heading">
              <h4 class="main-heading">AI Tournament</h4>
            </div>
            <div class="content">
              <p>Create a Bot according to given rules with formatted input/output.</p>
              <p>Periodically, tournaments between Bots are launched to compete 1:1 and allocate rankings.</p>
              <p>Scores are calculated by respective rankings.</p>
            </div>
          </div>
        </div>

        <div class="seperator">
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>

        <div class="rule-content">
          <h4 class="rule-title">Evaluation & Grading</h4>
          <p>Once you solve the problems, send your answers to <a class="link-inline" href="http://codewar.framgia.vn">http://codewar.framgia.vn</a> for grading.</p>
          <p>The team which achieves higher total score after 3 parts is the winner. In condition of equal scores, the team who achieves the score earlier will be the winner.</p>
        </div>

        <div class="seperator">
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>

        <div class="rule-content">
          <h4 class="rule-title">Participants</h4>
          <p>Build up a team in condition of 01 Framgia engineer and 04 non-Framgia developers (2 years of experience required)</p>
          <p>Limited to 20 teams. First come first take !</p>
        </div>

        <div class="seperator">
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>

        <div class="rule-content">
          <h4 class="rule-title">Sign up</h4>
          <p>Are you a Framgia member?</p>
          <button class="btn btn-primary btn-uppercase btn-medium" onclick="location.href='https://goo.gl/kbEUQE';">Sign up</button>
        </div>
      </div>
    </div>
  </div> <!--/ End Rule -->
{% endblock %}
{% block footer %}
<div class="container">
  <div class="info">
    <img class="icon-location" src="{{ url_for('static', filename="img/icon-location.png") }}" alt="Location Icons">
    <ul class="list">
      <li class="item">Code War 2016</li>
      <li class="item">8:30 - 17:30</li>
      <li class="item">13/11/2016</li>
    </ul>
    <p class="address">Framgia Vietnam, 13F Keangnam Landmark 72 Tower, Hà Nội</p>
  </div>
  <div class="contact">
    <h3 class="title">Contact</h3>
    <ul class="list">
      <li class="item">
        <i class="fa fa-envelope"></i>
        <a href="#">codewar@framgia.com</a>
      </li>
      <li class="item">
        <i class="fa fa-phone"></i>
        0437955417
      </li>
      <li>Ext: 102</li>
    </ul>
  </div>
</div>
{% endblock %}
