{% extends "base.html" %}
{% block content %}
<div class="row clearfix">
<div class="row">
  <div class="col-md-12">
    <h1>Log Submits</h1>
      <br>
      <table class="table table-borderd">
        <thead>
          <tr>
            <td>User</td>
            <td>Team</td>
            <td>Task</td>
            <td>Submitted flag</td>
            <td>When</td>
          </tr>
        </thead>
        <tbody>
          {% for log in logs.items %}
          <tr>
            <td>{{ log.user.get_profile_link()|safe }}</td>
            <td>{{ log.user.team.name }}</td>
            {% if log.task %}
            <td><a href="{{ url_for('task.show_task', task_id=log.task.id)}}">{{ log.task.name }}</td>
            {% else %}
            <td>&lt;deleted task&gt;</td>
            {%  endif %}
            <td>{{ log.flag }}</td>
            <td>{{ log.created_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <ul class="pager">
    <li>{% if logs.has_prev %}<a href="{{ url_for('log_submit', page = logs.prev_num) }}">&lt;&lt; Newer logs</a>{% else %}&lt;&lt; Newer logs{% endif %}</li>
    <li><a href="#">Page: {{ logs.page }}</a></li>
    <li>{% if logs.has_next %}<a href="{{ url_for('log_submit', page = logs.next_num) }}">Older logs &gt;&gt;</a>{% else %}Older logs &gt;&gt;{% endif %}</li>
  </ul>
</div>
{% endblock %}
