<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Framgia Code Contest</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Framgia Code Contest Team">
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="../../static/css/drunken-parrot.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

  <div class="main-container container">

    <!-- Start sing up content here -->
    <div class="page-change-password">
      <h2 class="form-change-heading">Change Password</h2>
      <p class="of-user">of user <strong>nguyen.thi.thu.ha.c@framgia.com</strong></p>
      <div class="tile tile-change-password tile-customize">
        <form class="form-change" role="form" action="" method="POST">
          <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input name="confirm" type="password" class="form-control" placeholder="Repeat Password" required>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Update</button>
        </form>
      </div>
    </div>
    <!--End sign up content here -->

  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>