{% extends "base.html" %}
{% block content %}
<!-- Subheader -->
  <div class="sub-header">
    <div class="container">
      <h4 class="title">Forgot password</h4>
      <div class="flex"></div>
      <ol class="breadcrumb">
        <li class="item active">Forgot password</li>
      </ol>
    </div>
  </div><!--/ End Subheader -->

  <div class="main-container container">

  <!-- Start forgot password content here -->
  <div class="page-forgot-password">
    {% import 'helpers.html' as helpers %}
    {{ helpers.form_errors(form) }}
    <h2 class="form-forgot-heading">Please enter your email</h2>
    <div class="tile tile-forgot-password tile-customize">
      <form class="form-forgot" role="form" action="" method="POST">
        <div class="form-group">
          <input name="email" type="email" class="form-control" placeholder="Email address" required>
        </div>
        {{ form.hidden_tag() }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Resend</button>
      </form>
    </div>
    </div>
    <!--End forgot password content here -->

  </div>
{% endblock %}
