<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Framgia Code Contest</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Framgia Code Contest Team">
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="../../static/css/drunken-parrot.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="base.html">
          <img src="../../static/img/logo.png" alt="Logo" width="103" height="83">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Tasks</a></li>
          <li><a href="#">Teams</a></li>
          <li><a href="#">Scoreboard</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <div class="navbar-right">
          <!-- Box profile for desktop -->
          <div class="dropdown box-profile for-desktop">
            <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <img class="avatar-image" src="../../static/img/avatar.jpg" alt="">
              <span class="caret"></span>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Change Password</a></li>
              <li><a href="#">My Profile</a></li>
            </ul>
          </div> <!--/ End Box profile for desktop -->
        </div>
      </div>
    </div>
    <!-- Box profile for mobile -->
    <div class="dropdown box-profile for-mobile">
      <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img class="avatar-image" src="../../static/img/avatar.jpg" alt="">
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Change Password</a></li>
        <li><a href="#">My Profile</a></li>
      </ul>
    </div> <!--/ End Box profile for mobile -->
  </nav> <!--/ End Navbar  -->
  <div class="main-container container">
    <!-- Start log in content here -->
    <div class="page-login">
      <h2 class="form-login-heading">Please login</h2>
      <div class="tile tile-login tile-customize">
        <form class="form-login" role="form" action="" method="POST">
          <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="Email address" required>
          </div>
          <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="forgot-login">
            <p><a href="/user/mail/resend">Resend Confirmation Email</a></p>
            <p><a href="/user/password/forgot">Forgot Password ?</a></p>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
    <!--End log in content here -->

  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="main-footer">
      <div class="container">
        <p class="copyright">&copy; 2016 Framgia Vietnam. All rights reserved.</p>
        <div class="flex"></div>
        <div class="follow-social">
          <p class="title">Follow Life at Framgia on</p>
          <div class="social-icon">
            <a class="fa fa-facebook-f" href="#"></a>
            <a class="fa fa-linkedin" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div> <!--/ End Footer -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>