{% extends "base.html" %}
{% block content %}
{% if join_team_form %}
{% import 'helpers.html' as helpers %}
{{ helpers.form_errors(join_team_form) }}
{% endif %}
{% if leave_team_form %}
{{ helpers.form_errors(leave_team_form) }}
{% endif %}
<!-- Subheader -->
  <div class="sub-header">
    <div class="container">
      <h4 class="title">Profile</h4>
      <div class="flex"></div>
      <ol class="breadcrumb">
        <li class="item"><a class="link" href="{{ url_for('index') }}">Home</a></li>
        <li class="item active">Profile</li>
      </ol>
    </div>
  </div><!--/ End Subheader -->

  <div class="main-container page-profile">
    <div class="container">
      <!-- <div class="alert alert-danger">Message Alert</div> -->
      <div class="box-user">
        <p><img class="avatar" src="{{ user.get_avatar_url() }}" width="160" height="160"/></p>
        <h2 class="name">{{ user.name }}</h2>
        <a class="link-inline" href="#">{{ user.email }}</a>
        <div class="wrap-button">
          {% if g.user.id == user.id or g.user.is_admin() %}
          <a class="btn btn-default" href="{{ url_for('user.change_password', user_id=user.id) }}">Change Password</a>
          {% if g.user.id == user.id and not locked_profile%}
          <a class="btn btn-default" href="{{ url_for('user.edit_profile') }}">Edit Profile</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="box-join-team">
        <h3 class="title">Team</h3>
        <p class="description">
        {% if user.team %}
          <a href="{{ url_for('team.show_team', team_id=user.team.id) }}">{{ user.team.name }}</a>
          {% if g.user.id == user.id %}
          <form role="form" action="" method="POST">
            <input name="team_id" type="hidden" value="{{ user.team.id }}">
            {{ leave_team_form.csrf_token }}
            <br>
            <button class="btn btn-primary" type="submit">Leave Team</button>
          </form>
          {% endif %}
        {% else %}
          {% if g.user.id == user.id %}
          You're not belong to any team.
          {% else %}
          This user doesn't belong to any team.
          {% endif %}
          {% if g.user.id == user.id and not user.team and not locked_team %}
          You can <a class="link-inline" href="{{ url_for('team.create_team')}}">Create Team</a> or enter <strong>Invite Code</strong> to join a team:
          <div class="col-md-12">
            <div class="col-md-4">
              <form role="form" action="" method="POST">
                  <label>{{ join_team_form.invite_code.label }}</label>
                  <input name="invite_code" type="text" class="form-control" required autofocus>
                  {{ join_team_form.hidden_tag() }}
                  <br>
                  <button class="btn btn-primary" type="submit">Join Team</button>
              </form>
            </div>
          </div>
          {% endif %}
        {% endif %}
        </p>
      </div>
      <div class="box-achievement">
        <h3 class="title">Achievements</h3>
        <table class="table table-bordered table-customize table-responsive">
          <thead>
            <tr>
              <th width="">Task</th>
              <th width="">Category</th>
              <th width="200px">Point</th>
              <th width="200px">When</th>
            </tr>
          </thead>
          <tbody>
          {% for info in user.solved_data|sort(attribute='created_at', reverse = True) %}
            <tr>
              <td data-title="Task"><a href="{{ url_for('task.show_task', task_id=info.task.id) }}">{{ info.task.name }}</a></td>
              <td data-title="Category">{{ info.task.category.name }}</td>
              <td data-title="Point">{{ info.task.point }}</td>
              <td data-title="When">{{ info.created_at }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
