{% extends "base.html" %}
{% block content %}
<!-- Subheader -->
  <div class="sub-header">
    <div class="container">
      <h4 class="title">Forgot Password</h4>
      <div class="flex"></div>
      <ol class="breadcrumb">
        <li class="item active">Forgot Password</li>
      </ol>
    </div>
  </div><!--/ End Subheader -->

  <div class="main-container container">

    <!-- Start forgot password result content here -->
    <div class="page-confirm-mail-result">
      <h2 class="form-confirm-mail-result-heading">Dear {{ user.username }}!</h2>
      <div class="tile tile-confirm-mail-result tile-customize">
        <p>We sent you an email at address <strong>{{ user.email }}</strong> to reset your password.</p><p>Please check it. Thank you!</p>
      </div>
    </div>
    <!--End forgot password resend content here -->

  </div>
{% endblock %}
