{% extends "base.html" %}
{% block content %}

<div class="main-container container">
  <!-- Start sign up content here -->
  <div class="page-sign-up">
    {% import 'helpers.html' as helpers %}
    {{ helpers.form_errors(form) }}
    <h2 class="form-signup-heading">Sign up</h2>
    <div class="tile tile-sign-up tile-customize">
      <form class="form-signup" role="form" action="{{ url_for('user.signup') }}" method="POST">
        <div class="form-group">
          <input name="username" type="text" class="form-control" placeholder="Username" required>
        </div>
        <div class="form-group">
          <input name="email" type="email" class="form-control" placeholder="Email address" required>
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">
          <input name="confirm" type="password" class="form-control" placeholder="Password Confirm" required>
        </div>
        {{ form.hidden_tag() }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
      </form>
    </div>
  </div>
  <!--End sign up content here -->
</div>
{% endblock %}
