{% extends "base.html" %}
{% block content %}
{% import 'helpers.html' as helpers %}
{{ helpers.form_errors(form) }}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form role="form" action="" method="POST">
        <h2>Create Hint</h2>
        <br>
        <label>{{ form.description.label }}</label>
        <textarea  name="description" type="text" class="form-control" rows="4" cols="50"></textarea>
        <br>
        <label>Task</label>
        {{ form.task }}
        <br>
        <label>Is Open</label>
        {{ form.is_open }}
        <br>
        {{ form.hidden_tag() }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Create</button>
    </form>
  </div>
</div>
{% endblock %}

