{% extends "base.html" %}
{% block content %}
<!-- Subheader -->
  <div class="sub-header">
    <div class="container">
      <h4 class="title">Tasks</h4>
      <div class="flex"></div>
      <ol class="breadcrumb">
        <li class="item"><a class="link" href="{{ url_for('index') }} ">Home</a></li>
        <li class="item active">Tasks</li>
      </ol>
    </div>
  </div><!--/ End Subheader -->

  <div class="main-container page-task">
    <div class="container">
      <div class="row">
      {% for category in categories if not category.is_achievement() %}
        <div class="col-md-4 block-task">
          <h3 class="heading">{{ category.name }}</h3>
          <ul class="list-task">
            {% for task in category.tasks %}
            <li class="item-task">
              <a href="{{ url_for('task.show_task', task_id=task.id)}}">
                <span class="task-name">{{ task.name }}</span>
                <span class="label {{ 'label-success' if g.user.is_solved_task(task) else 'label-primary' }}">{{ task.point }} pt</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
