{% extends "base.html" %}
{% block content %}
<div class="row clearfix">
<div class="row">
  <div class="col-md-12">
    <h1>All Tasks</h1>
      <br>
      <a class="btn btn-info" href="{{ url_for('create_task') }}">Create Task</a>
      <a class="btn btn-primary" href="{{ url_for('log_submit', page=1) }}">Log submits</a>
      <br>
      <table class="table table-borderd">
        <thead>
          <tr>
            <td>Name</td>
            <td>Action</td>
            <td>Status</td>
            <td>Point</td>
            <td>Solved Users</td>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <td><a href="{{ url_for('task', task_id=task.id)}}">{{ task.name }}</td>
            <td>
              <a class="label label-primary" href="{{ url_for('edit_task', task_id=task.id) }}">Edit</a>
              <a class="label label-danger" href="{{ url_for('confirm_delete_task', task_id=task.id) }}">Delete</a>
            </td>
            {% set toggle = 'close' if task.is_open else 'open' %}
            <td>
              {% if task.is_open %}<span class="label label-success">Opened</span>{% else %}<span class="label label-danger">Closed</span>{% endif %}
              <a class="label label-primary" href="{{ url_for('toggle_task', task_id=task.id, toggle=toggle)}}">Toggle</a>
            </td>
            <td>{{ task.point }}</td>
            <td class="admin-solved-user">
              {% for user in task.solved_users[:9] %}
              {{ user.get_avatar_img(24)|safe }}&nbsp;
              {% endfor %}
              {% if task.solved_users|length > 9 %}
              <div class="more-user-{{ task.id }}" style="display:none">
                  {% for user in task.solved_users[9:] %}
                      {{ user.get_avatar_img(24)|safe }}&nbsp;
                  {% endfor %}
              </div>
              <button onclick="$('.more-user-{{ task.id }}').css('display') == 'block' ? $('.more-user-{{ task.id }}').hide() : $('.more-user-{{ task.id }}').show(); return false;">+{{ task.solved_users|length }}</button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <h1>All Teams ({{ teams|length }})</h1>
      <br>
      <table class="table table-borderd">
        <thead>
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Number of members</td>
          </tr>
        </thead>
        <tbody>
          {% for team in teams %}
          <tr>
            <td><a href="{{ url_for('team', team_id=team.id)}}">{{ team.name }}</td>
            <td>{{ team.description }}</td>
            <td>{{ team.members.count() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <div class="col-md-6">
    <h1>All Users ({{ users|length }})</h1>
    <br>
    {% for user in users %}
      <span class="profile">
        {{ user.get_profile_link()|safe }}
        <div class="info">
          User name: {{ user.username }} <br>
          Email: {{ user.email }} <br>
          {% if user.team %}
          Team: {{ user.team.name }} <br>
          {% endif %}
        </div>
      </span>
    {% endfor %}
    <script type="text/javascript">
    $( document ).ready(function() {
      $(".profile").each(function(index, el) {
        $(el).children(".info").hide();
      });
    });
    $(".profile").each(function(index, el) {
      $(el).hover(function() {
        $(this).children(".info").show();
      }, function() {
        $(this).children(".info").hide();
      });
    });
    </script>
  </div>
</div>
{% endblock %}
