<html>
  <head>
    {% if title %}
    <title>{{title}} - Framgia Code War 2016</title>
    {% else %}
    <title>Framgia Code War 2016</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Framgia CodeContest Team">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.min.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.min.js') }}"></script>   
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  <body {% if request.path in ['/index', '/', '/index/en', '/index/vi'] %}class="landing-page"{% endif %}>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="103" height="83">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if g.user.is_authenticated() %}
          <ul class="nav navbar-nav">
            <li {% if request.path == url_for('index') %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
            <li {% if request.path == url_for('show_activities') %}class="active"{% endif %}><a href="{{ url_for('show_activities') }}">Activities</a></li>
            <li {% if request.path == url_for('task.all_task') %}class="active"{% endif %}><a href="{{ url_for('task.all_task') }}">Tasks</a></li>
            <li {% if request.path == url_for('team.all_team') %}class="active"{% endif %}><a href="{{ url_for('team.all_team') }}">Teams</a></li>
            <li {% if request.path == url_for('scoreboard') %}class="active"{% endif %}><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
            <li {% if request.path == url_for('about') %}class="active"{% endif %}><a href="{{ url_for('about') }}">About</a></li>
            {% if g.user.is_admin() %}
            <li {% if request.path == url_for('admin') %}class="active"{% endif %}><a href="{{ url_for('admin') }}">Admin</a></li>
                <li {% if request.path == url_for('admin.index') %}class="active"{% endif %}><a href="{{ url_for('admin.index') }}">DB</a></li>
            {% endif %}
          </ul>
          <div class="navbar-right">
            <!-- Box profile for desktop -->
            <div class="dropdown box-profile for-desktop">
              <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img class="avatar-image" src="{{ g.user.get_avatar_url(26) }}" alt="">
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{{ url_for('user.profile')}}">Profile</a></li>
                <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
              </ul>
            </div> <!--/ End Box profile for desktop -->
          </div>
          {% else %}
          <div class="navbar-right menu">
            <a class="btn btn-border" href="{{ url_for('index') }}">VN</a>
            <a class="btn btn-border" href="{{ url_for('index_en') }}">EN</a>
          </div>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>

      <!-- Box profile for mobile -->
      {% if g.user.is_authenticated() %}
      <div class="dropdown box-profile for-mobile">
        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img class="avatar-image" src="{{ g.user.get_avatar_url(26) }}" alt="">
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="{{ url_for('user.profile')}}">Profile</a></li>
          <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
        </ul>
      </div> <!--/ End Box profile for mobile -->
      {% endif %}
    </nav> <!--/ End Navbar  -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category != 'message' %}
    <div class="alert alert-{{ category }}" role="alert">
    {% else %}
    <div class="alert alert-danger" role="alert">
    {% endif %}
    {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

    <!-- Footer -->
    <div class="footer">
      {% block footer %}{% endblock %}
      <div class="main-footer">
        <div class="container">
          <p class="copyright">&copy; 2016 Framgia Vietnam. All rights reserved.</p>
          <div class="flex"></div>
          <div class="follow-social">
            <p class="title">Follow Life at Framgia on</p>
            <div class="social-icon">
              <a class="fa fa-facebook-f" href="https://www.facebook.com/FramgiaVietnam/?fref=ts"></a>
              <a class="fa fa-linkedin" href="https://www.linkedin.com/company/framgia-vietnam"></a>
            </div>
          </div>
        </div>
      </div>
    </div> <!--/ End Footer -->
  </body>
</html>
