{% extends "base.html" %}
{% block content %}
{% for message in form.name.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% for message in form.description.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
<div class="row">
  <div class="col-md-6">
    <form class="well" role="form" action="" method="POST">
        <h2>Create Team</h2>
        <label>{{ form.name.label }}</label>
        <input name="name" type="text" class="form-control" required autofocus>
        <br>
        <label>{{ form.description.label }}</label>
        <textarea  name="description" type="text" class="form-control" rows="4" cols="50"></textarea>
        {{ form.hidden_tag() }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Create</button>
    </form>
  </div>
</div>
{% endblock %}

