{% extends "base.html" %}
{% block content %}
{% for message in form.description.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
<div class="row">
  <div class="col-md-6">
    <form class="well" role="form" action="" method="POST">
        <h2>Edit Team</h2>
        <label>{{ form.description.label }}</label>
        <textarea id="description" name="description" type="text" class="form-control" rows="10" cols="50">{{ form.description.data }}</textarea>
        <br>
        {{ form.hidden_tag() }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Edit</button>
    </form>
  </div>
</div>
{% endblock %}
