{% extends "base.html" %}
{% block content %}
<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="jumbotron">
      <h1>
        Hello !
      </h1>
      <p>
        This is site for CTF Contest, organized by <strong>Problem? Team</strong> from <strong>Framgia Vietnam</strong>
      </p>
      {% if config['GAME_STARTED'] or (g.user.is_authenticated() and g.user.is_admin()) %}
      <p>
        <a target="_blank" class="btn btn-primary btn-large" href="{{ url_for('game') }}">Start !</a>
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
