{% extends "base.html" %}
{% block content %}
<div class="row clearfix">

<div class="row">
  <div class="col-md-8">
      <h1>{{ team.name }}</h1>
      <h6>{{ team.description }}</h6>
      <br>
      <table class="table table-striped">
        <tr>
          <td><h6>Members:</h6></td>
          <td>
          {% for user in team.members %}
          {{ user.get_profile_link()|safe }}<br>
          {% endfor %}
          </td>
        </tr>
      {% if g.user in team.members or g.user.is_admin() %}
        <tr>
          <td><h6>Invite Code:</h6></td>
          <td>{{ team.invite_code }}</td>
        </tr>
      </table>
      <a class="btn btn-lg btn-primary" href="{{ url_for('edit_team', team_id=team.id) }}">Edit</a>
      {% else %}
      </table>
      {% endif %}
  </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Achievements</h3>
          <ul>
          {% for task in team.solved_tasks() %}
            <li>{% if task %}<a href="{{ url_for('task', task_id=task.id)}}"><small><span class="label label-danger">{{ task.category.name }}</span></small> {{ task.name }}</a>{% else %}&lt;deleted task&gt;{% endif %}</li>
          {% endfor %}
          </ul>
      </div>
  </div>
</div>
</div>
{% endblock %}
