{% extends "base.html" %}
{% block content %}
<div class="row clearfix">

<div class="row">
  <div class="col-md-8">
      <h1>{{ team.name }}</h1>
      <h6>{{ team.description }}</h6>
      <br>
      <table class="table table-striped">
        <tr>
          <td><h6>Members:</h6></td>
          <td>
          {% for user in team.members %}
          {{ user.get_profile_link()|safe }}<br>
          {% endfor %}
          </td>
        </tr>
      {% if g.user in team.members or g.user.is_admin() %}
        <tr>
          <td><h6>Invite Code:</h6></td>
          <td>{{ team.invite_code }}</td>
        </tr>
      </table>
      <a class="btn btn-lg btn-primary" href="{{ url_for('edit_team', team_id=team.id) }}">Edit</a>
      {% else %}
      </table>
      {% endif %}
  </div>
</div>
{% endblock %}
